*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}
/* -------------------------------------------------- */

/* Inizio Main */

.container-fluid {
   margin-bottom: 30px;
}

div[class^="col-"], .col {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   float: left;
}

.w-100 {
   width: 100%;
   padding: 10px;
}

.w-2 {
   max-width: calc((100% / 12) * 2);
}

.h-auto {
   height: auto;
}

.col {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

[class*="col-"], .col {
   background-color: rgb(45, 93, 224);
   border: 1px solid white;
}

.nested {
   border: 1px solid rgb(45, 93, 224);
   background-color: rgb(7, 207, 107);
   padding: 10px;
   height: auto;
}

.bet {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex-wrap: wrap;
   height: 300px;
}

.between {
   height: 80px;
}

.betw {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}

.top {
   margin-top: 30px;
}

.h-100 {
   height: 100px;
}

.around {
   display: flex;
   justify-content: space-around;
   height: auto;
}

.stre {
   display: flex;
   height: 50px;
}

/* Fine Main */
/* -------------------------------------------------- */


/* !DEBUG ZONE! */
